/build/
/out/
/_deps/
/_ucd/
/.cache/
/.clangd/
/compile_commands.json
/.vscode/
/sandbox/
/target/
src/libunicode/ucd.cpp
src/libunicode/ucd.h
src/libunicode/ucd_enums.h
src/libunicode/ucd_fmt.h
src/libunicode/ucd_ostream.h
/src/libunicode/codepoint_properties_data.cpp
/src/libunicode/codepoint_properties_data.h
/src/libunicode/codepoint_properties_names.cpp
